{% extends 'main.html'%}

<body>

    {% block content %}
        <h3 style="text-align: center;">Добавить форму</h3>
        <p style="text-align: center;">Создайте форму и нажмите кномку "Сохранить"</p>
            <form action=""  class="uploadForm" method="post">
                {% csrf_token %}
                <ol id="ol-form">
                    <button type ='button' id="add-input">Добавить поле input</button>
                    <button type ='button' id="add-textarea">Добавить поле textarea</button>
                    <button type ='button' id="add-select">Добавить поле select</button>

                    <li>
                        <p>Название формы: {{ data_form.name }}</p>
                    </li>
                    <li class="li-input">
                        <p>Поле input</p>
                            {% csrf_token %}
                        <div>
                            <p> Название поля: {{ input_form.name }} </p>
                            <p> Описание поля: {{ input_form.description }} </p>
                        </div>
                        <br>
                    </li>

                    <li class="li-textarea">
                        <p>Поле textarea </p>
                            {% csrf_token %}
                        <div>
                            <p> Название поля: {{ textarea_form.name }} </p>
                            <p> Описание поля: {{ textarea_form.description }} </p>
                        </div>
                        <br>
                    </li>

                    <li class="li-select">

                        <p>Поле select</p>
                        <p> Название поля: <input id="name_select_form"></p>
                        <p> Описание поля: <input id="description_select_form"></p>
                        <input id="select_name">
                        <button type ='button' class="add-select-name">Доавить значение в поле select</button>
                            {% csrf_token %}
                        <br>
                        <select id="id_select" style="width:190px;">
                            <option value=""></option>
                        </select>
                        <button type ='button' class="del-select-name">Удалить выбранное значение из select</button>

                        <br>
                    </li>
                    <br>
                </ol>
            <input type="submit" id="submit-form" value="Сохранить">
        </form>

    {% endblock %}}

</body>

