<!--<li id="li-input">-->
<!--    <p>Поле input</p>-->
<!--        {% csrf_token %}-->
<!--    <div>-->
<!--        <p> Название поля: {{ input_form.name }} </p>-->
<!--        <p> Описание поля: {{ input_form.description }} </p>-->
<!--    </div>-->
<!--    <br>-->
<!--</li>-->

<!--<li id="li-textarea">-->
<!--    <p>Поле textarea </p>-->
<!--        {% csrf_token %}-->
<!--    <div>-->
<!--        <p> Название поля: {{ textarea_form.name }} </p>-->
<!--        <p> Описание поля: {{ textarea_form.description }} </p>-->
<!--    </div>-->
<!--    <br>-->
<!--</li>-->

<!--<li id="li-select">-->

<!--    <p>Поле select</p>-->
<!--    <p> Название поля: <input id="name_select_form"> </p>-->
<!--    <p> Описание поля: <input id="description_select_form"> </p>-->

<!--    <input id="select_name">-->
<!--    <button id="add-select-name">Доавить значение в поле select</button>-->
<!--        {% csrf_token %}-->
<!--    <br>-->
<!--    <select id="id_select" style="width:190px;">-->
<!--        <option value=""></option>-->
<!--    </select>-->
<!--    <button id="del-select-name">Удалить выбранное значение из select</button>-->

<!--    <br>-->
<!--</li>-->
